{{ define "main" }}
<main aria-role="main">
<div class="container-fluid bg-light py-5 px-md-5">
  <div class="row justify-content-center">
    <div class="col-md-9 col-lg-5">
      <h1 class="display-1 title">{{.Title}}</h1>
      <p class="lead pt-5">
      {{ .Params.choir }}
      </p>
      <p class="py-3">
      {{ .Params.coops }}
      </p>
      <h2 class="display-4 pt-5">{{ T "members" | humanize }}</h2>
    </div>
  </div>
  <div class="row justify-content-center pb-5">
    <div class="col-md-9 col-lg-5">
      <div class="row  row-cols-md-2 row-cols-1">
        <div class="col pt-5">
          <h3>{{ T "sopranos" | humanize }}</h3>
          {{ replace .Site.Data.medlemmer.sopran "\n" "<br />" | safeHTML}}
        </div>
        <div class="col pt-5">
          <h3>{{ T "altos" | humanize }}</h3>
          {{ replace .Site.Data.medlemmer.alt "\n" "<br />" | safeHTML}}
        </div>
        <div class="col pt-5">
          <h3>{{ T "tenors" | humanize }}</h3>
          {{ replace .Site.Data.medlemmer.tenor "\n" "<br />" | safeHTML}}
        </div>
        <div class="col pt-5">
          <h3>{{ T "basses" | humanize }}</h3>
          {{ replace .Site.Data.medlemmer.bass "\n" "<br />" | safeHTML}}
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-9 col-lg-5">
      <h2 class="display-4 pt-5 pb-3">{{ T "conductor" | humanize }}</h2>
      <p class="lead pb-5">
      {{ .Params.eva }}
      </p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-9 col-lg-5">
      <h2 class="display-4 pt-5 pb-3">{{ T "awards" | humanize }}</h2>
      {{ with (index .Site.Data .Site.Language.Lang) }}
      <p class="lead pb-4">
      {{ .utmerkelser.sammendrag }}
      </p>
      <p>
      {{ .utmerkelser.test | markdownify}}
      </p>
      {{ end }}
    </div>
  </div>
</div>
</main>
{{ end }}
