{{ define "main" }}
  <main aria-role="main">

  <div class="container-fluid bg-light p-5">
    <div class="container-md">
      <h1 class="title">{{.Title}}</h1>
      <p class="lead">
      {{ .Params.choir }}
      </p>
      <p>
      {{ .Params.eva }}
      </p>
      <h2>{{ T "members" | humanize }}</h2>
      <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1">
      <div class="col">
      <h3>{{ T "sopranos" | humanize }}</h3>
      <p>
      {{ replace .Site.Data.medlemmer.sopran "\n" "<br />" | safeHTML}}
      </p>
      </div>
      <div class="col">
      <h3>{{ T "altos" | humanize }}</h3>
      <p>
      {{ replace .Site.Data.medlemmer.alt "\n" "<br />" | safeHTML}}
      </p>
      </div>
      <div class="col">
      <h3>{{ T "tenors" | humanize }}</h3>
      <p>
      {{ replace .Site.Data.medlemmer.tenor "\n" "<br />" | safeHTML}}
      </p>
      </div>
      <div class="col">
      <h3>{{ T "basses" | humanize }}</h3>
      {{ replace .Site.Data.medlemmer.bass "\n" "<br />" | safeHTML}}
      </div>
      </div>
  </div>
  </main>
{{ end }}
