<div class="d-flex justify-content-between text-nowrap flex-wrap"> 
    <div class="p-2">
    {{ with .Date }}
    <h4>Slippdato</h4>
		<p>
                <time datetime="{{ . }}">
                  {{ dateFormat "2." . }}
                    {{ index $.Site.Data.months (dateFormat "1" .) }}
                    {{ dateFormat "2006" . }}
                </time>

		</p>
    {{ end }}
    </div>
    <div class="p-2">
    {{ with .Params.venue }}
                <h4>Innspillingssted</h4>
		<p>
      {{ . }}
		</p>
    {{ end }}
    </div>
    <div class="p-2">
    </div>
</div>
    {{ with .Params.spotifylink }}
    <h4>Lytt på Spotify</h4>
    <a href="{{ . }}" class="link-dark"><i class="fa-brands fa-spotify fa-2x px-2"></i></a>
    {{ end }}
    </div>

