<div class="container">
  <div class="row p-2 my-4 bg-white rounded shadow">
  {{ with .Date }}
    <div class="col align-self-center">
    <i class="fa-solid fa-calendar-day text-primary"></i>
    <time datetime="{{ . }}">
      {{ dateFormat "2." . }}
      {{ index $.Site.Data.months (dateFormat "1" .) }}
    </time>
    </div>
    <div class="col align-self-center">
    <i class="fa-solid fa-clock text-primary"></i>
    <time datetime="{{ . }}">
      {{ dateFormat "15:04" .}}
    </time>
    </div>
  {{ end }}
  {{ with .Params.ticketlink }}
    <div class="col text-right">
      <a class="active" href='{{ . }}'>
          <button class="btn btn-primary" type="button">
            Kjøp billett
          </button>
      </a>
    </div>
  {{ end }}
  </div>

    <div class="row p-2 my-4 bg-white rounded shadow-sm">
    {{ with .Params.venue }}
    <div class="p-2">
		<p>
      <i class="fa-solid fa-location-dot text-primary"></i>
      {{ . }}
		</p>
    </div>
    {{ end }}

    {{ with .Params.price }}
    <div class="p-2">
		<p>
      <i class="fa-solid fa-ticket text-primary"></i>
        {{ . }}
		</p>
    </div>
    {{ end }}
</div>
</div>

{{ with .Params.ticketurl }}
<div class="text-center py-4">
  <a class="btn btn-primary" href="{{ . }}">Kjøp billett</a>
</div>
{{ end }}

{{ with .Params.organizer }}
<div class="py-4 text-center">
  <h4>Arrangør</h4>
  <p>
    {{ . }}
  </p>
</div>
{{ end }}

