 <footer class="footer text-white d-flex flex-wrap flex-md-nowrap justify-content-around align-items-center py-5" role="contentinfo">
	<div class="p-1 w-75 text-center">
      <a href="{{ if (eq .Site.Language.Lang "en")}}/en{{end}}/">
        <img src="/images/aurum-logo-2x.png" class="img-fluid" alt="Kammerkoret Aurum hjem">
      </a>
    <p>
    <a href="{{ if (eq .Site.Language.Lang "en")}}/en{{end}}/" class="text-white-50">{{ T "Hjem"}}</a>
    <a href="{{if eq .Site.Language.Lang "en"}}/en{{end}}/prosjekter" class="text-white-50">{{ T "Prosjekter" }}</a>
    <a href="{{if eq .Site.Language.Lang "en"}}/en{{end}}/om-oss" class="text-white-50">{{ T "Om_oss" }}</a>
    <a href="{{if eq .Site.Language.Lang "en"}}/en{{end}}/kontakt" class="text-white-50">{{ T "Kontakt" }}</a>
    <a href="{{ if eq .Site.Language.Lang "en"}}/en{{end}}/booking" class="text-white-50">Booking</a>
    <a href="{{ if eq .Site.Language.Lang "en"}}/en{{end}}/opptak" class="text-white-50">{{ T "Opptak" }}</a>
    </p>
    <div>
      <p>
      <a href="https://www.google.com/maps/place/Berg+Church/@63.4225965,10.4229236,17z/data=!3m1!4b1!4m5!3m4!1s0x466d31baff267465:0xc14db6741650636f!8m2!3d63.4225965!4d10.4251123" class="link-light" target="_blank">
      <i class="fa fa-map-marker footer-icons-contact px-2"></i><small>Trondheim, {{ T "Norge" }}</small>
      </a>
      </p>
    </div>
    <div>
      <p>
      <a href="mailto:post@kammerkoret-aurum.no" class="link-light">
        <i class="fa fa-at footer-icons-contact px-2"></i><small>post@kammerkoret-aurum.no</small>
      </a>
      </p>
    </div>
    <div>
      <p><small>Org. nr. 992 414 162</small></p>
    </div>
    <div>
      <p><a href="https://www.norsk-tipping.no/grasrotandelen/#search=992%20414%20162"><small>Grasrotandelen</small></a></p>
    </div>
    <div>
      <p class="text-secondary small">Copyright <i class="fa-regular fa-copyright"></i> {{ dateFormat "2006" now }}  Kammerkoret Aurum</p>
    </div>
  </div>

  <div class="px-4 px-md-2">
    <div class="footer-icons text-center text-md-start py-4">
	      <a href="https://www.facebook.com/kammerkoretaurum" class="link-light" target="_blank"><i class="fa-brands fa-facebook fa-2x pe-2" title="Følg oss på Facebook"></i></a>
	      <a href="https://www.instagram.com/kammerkoretaurum" class="link-light" target="_blank"><i class="fa-brands fa-instagram fa-2x px-2" title="Følg oss på Instagram"></i></a>
	      <a href="https://www.youtube.com/channel/UCHR3Xgzb9hw6WCDY0dvl_Iw" class="link-light" target="_blank"><i class="fa-brands fa-youtube fa-2x px-2" title="Følg oss på YouTube"></i></a>
	      <a href="https://open.spotify.com/artist/7gAZzF8vspjGk7QkyeTBt2?si=yX716wvjTWK9PTZq3M4neg" class="link-light" target="_blank"><i class="fa-brands fa-spotify fa-2x px-2" title="Hør oss på Spotify"></i></a>
      </div>
      <div class="text-center text-md-start">
      <h3>Kammerkoret Aurum</h3>
      <p class="text-white-50"><small>
        {{ if eq .Site.Language.Lang "en"}}
        Kammerkoret Aurum was founded in Trondheim in 2006.
        The chamberchoir is conducted by Eva Holm Foosnæs and consists of around 30 chorists.
        The choir seeks to uphold a high musical level and regularly orders newly composed choir pieces.
        {{ else }}
        Kammerkoret Aurum ble stiftet i Trondheim i 2006. Koret ledes av Eva Holm Foosnæs og består av rundt 30 sangere. Koret er opptatt av å holde et høyt musikalsk nivå og er en aktiv bestiller av nykomponerte korverk.
        {{ end }}
      </small>
      </p>
      </div>
      <div class="text-center">
      <p class="text-white-50"><small>
        {{ if eq .Site.Language.Lang "en"}}
        Kammerkoret Aurum is supported by
        {{ else }}
      Kammerkoret Aurum støttes av 
        {{ end }}
      </small><br />
      <img src="/images/horisontal-standard-hvit-300x88.png" alt="Trondheim kommune">  
      <img src="/images/kulturradet_logo_hvit_tekst-300x89.png" height="50" alt="Kulturrådet">
      </p>
	</div>
	</div>
</footer>
