{{ $dataJ := getJSON "https://profilepageimages.usecue.com/images/turningcoffeeintocode/images.json" }}

{{ range $index, $img := first 9 $dataJ }}
  {{ if (eq (mod $index 3) 0) }}
    <div class="tile is-ancestor">
  {{ end }}

  {{ $media_type := .media_type | lower }}
  {{ $image_small := .image_small }}
  {{ $permalink := .permalink }}
  {{ $caption := .caption }}
      <div class="tile is-parent">
        <div class="tile is-child">
          <a href="{{ $permalink }}" target="_blank" rel="noopener noreferrer">
            <img class="{{ $media_type }}" src="{{ $image_small }}" {{ with $caption }}alt="{{ . }}"{{ else }}alt=""{{ end }}>
          </a>
        </div>
      </div>
  {{ if (eq (mod $index 3) 2) }}
    </div>
  {{ end }}
{{ end }}
