/* Photo by <a href="https://unsplash.com/@mcovoy?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Makoto Tsuka</a> on <a href="https://unsplash.com/photos/body-of-water-wG1FqkoxrOM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>*/
body {
    background-image: url(/program/deepblack/makoto-tsuka-deepwater.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;

  overflow: hidden;
}
      
.parallax {
height: 100vh;
overflow-x: hidden;
overflow-y: auto;
-webkit-perspective: 1px;
perspective: 1px;
}
.parallax__group {
position: relative;
height: 100vh;
transform-style: preserve-3d;
-webkit-transform-style: preserve-3d;
}
.parallax__layer {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}
.parallax__layer--base {
-webkit-transform: translateZ(-1px) scale(2);
transform: translateZ(-1px) scale(2);
height: 50%;
transform-origin: center 100%;
-webkit-transform-origin: center 100%;
}
.parallax__layer--back {
/* scale factor: 1 + (translateZ * -1) / perspective)*/
-webkit-transform: translateZ(0) scale(0.7);
transform: translateZ(0) scale(0.7);
}
.parallax__layer--front {
/* scale factor: 1 + (translateZ * -1) / perspective)*/
-webkit-transform: translateZ(-4px) scale(3);
transform: translateZ(-4px) scale(3);
height: 40%;
transform-origin: center 100%;
-webkit-transform-origin: center 100%;
}

.parallax__layer--title {
/* scale factor: 1 + (translateZ * -1) / perspective)*/
-webkit-transform: translateZ(0);
transform: translateZ(0);

  height:100%;
}

.img-mirror {
  -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);

}

