{{ define "style" }}
  {{ with .Resources.GetMatch "*.css" }}
    <style>
      {{ .Content | safeCSS }}
    </style>
  {{ end }}
{{ end }}

{{ define "main" }}
<style>

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(/program/deepblack/deep-black-program-2.png);
    z-index: -1;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.picture {
  height: 100vh;
  align-items: center;
  justify-content: center;
}

section {
  height: 150vh;
  align-items: end;
  justify-content: right;
}

@keyframes parallax {
from {
  transform:  translateY(0);
}

to {
  transform: translateY(calc(100% + 650vh));
}

}

.overlay {
  background-color: rgba(0,0,0,0.8);
}

#program {
  background-image: url(/program/deepblack/deep-black-program.png);
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  height: 250vh;
}
#velkommen {
  background-image: url(/program/deepblack/makoto-tsuka-deepwater-dimmed.jpg);
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  height: 200vh;
  max-width: 100vw;
}


#quote {
  background-image: url(/program/deepblack/makoto-tsuka-deepwater-dimmed.jpg);
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  height: 120vh;
}

#quotedikt {
  background-image: url(/program/deepblack/makoto-tsuka-deepwater-dimmed.jpg);
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}

#klipper {
  background-image: url(/program/deepblack/klipper2.jpg);
  background-position: 20% bottom;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  max-width: 100vw;
  min-height: 200vh;
  height: 200vh;
  width: 100vw;
}

#endnotes {
  background-image: url(/program/deepblack/makoto-tsuka-deepwater-dimmed.jpg);
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
}

section.water {
  background-image: url(/program/deepblack/deep-black-program-2.png);
  background-position: top left;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  max-width: 100vw;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  background-attachment: scroll;
  background-repeat: no-repeat;
  animation: parallax linear;
  animation-timeline: scroll();
  position: relative;
}

@keyframes text {
from {
  transform:  translateY(0);
}
to {
  transform: translateY(calc(100% + 100vh));
}
}

.water-content {
  text-align: right;
  position: absolute;
  top: 50%;
  animation: text linear;
  animation-timeline: scroll();
}
.water-content > * {
  position: relative;
}

@keyframes bubble {
0% {
  transform: translateX(0) translateY(0);
  opacity: 0.8;
}

100% {
  transform: translateX(calc(-100% - 100vw)) translateY(calc(-100% - 500vh));
}

}

.bubbles-front {
  position: absolute;
  top: 50%;
  animation: bubble auto linear;
  animation-timeline: scroll();
}

img .bgimage {
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  zorder: -1;
}

</style>

<main class="d-flex flex-column">
<section class="d-flex flex-column water text-light">
  <div class="water-content">
      <h1>DEEP BLACK</h1>
      <p>
      Konsertprogram for Deep Black-konsertene<br />
        i Trondheim 16. november 2025<br />
        kl 18 og kl 20.30.
      </p>
  </div>
  <div class="bubbles-front">
      <img src="/program/deepblack/Bobler 2.png">
  </div>
</section>
<section class="d-flex flex-column text-light" id="velkommen">
  <div class="d-flex flex-column justify-content-center picture">
    <img class="img-fluid" src="/program/deepblack/DSC09909.jpg">
  </div>
    <p class="overlay p-5">
      Kammerkoret Aurum<br />
      med dirigent Eva Holm Foosnæs<br />
      ønsker velkommen til<br />
      <strong>DEEP BLACK</strong>!
      <br />
      <br />
      Deep Black er den tredje mørkekonserten i rekken, etter Pitch Black og Space Black.
      <br />
      <br />
      Bli med oss på ferd ned i musikkens og havets metaforiske dyp
 med både etablerte og nyskrevne verker i båten.
    </p>
</section>
<section class="d-flex flex-column text-light" id="program">
    {{ partial "program/program.html" . }}
</section>
<section class="d-flex flex-column text-light" id="quotedikt">
  <div class="d-flex flex-column justify-content-center picture">
      <h1>Livet är värt att leva!</h1>
    <span class="serif ">Ebba Lindqvist</span>
  </div>
</section>
<section class="d-flex flex-column text-light" id="quote">
  <div class="d-flex flex-column justify-content-center picture">
    <img class="img-fluid" src="/program/deepblack/DSC09928.jpg">
  </div>
</section>
  <section>
<div id="klipper" class="container d-flex flex-column align-items-end pt-5"> 
  <h2 class="text-dark serif">Ved Havet</h2>
  <span class="serif text-dark">Johan Sebastian Welhaven (1845)</span>
  <p  class="d-flex align-items-end text-dark  py-2">
        Ved det mægtige Hav, hvor Kysten er steil <br />
        er Verden lukt ude, der seer du i Speil<br />
        dit Tankeliv. <br />
        Af Havet kan stige<br />
        et Længselens Rige <br />
        ved Aandens tryllende Bliv.<br/>
        <br/>
    </p>
  <p  class="d-flex align-items-end text-dark  py-2">
        Mens Bølgerne glide og nynne dertil,<br />
        kan du vugges og bæres saa langt du vil<br />
        i Tankens Baad.<br />
        Ja, langt fra de trange<br />
        Døgntummelens Gange,<br />
        med al deres Latter og Graad.<br />
        <br />
    </p>
  <p  class="d-flex align-items-end text-dark  py-2">
        De Syner, der stige af Vandenes Skjød,<br />
        skal farves og aande i Morgenens Glød<br />
        og mildere Luft.<br />
        Ja, Fjelde og Taarne,<br />
        af Bølgerne baarne,<br />
        skal svøbes i Rosernes Duft.<br />
        <br />
    </p>
  <p  class="d-flex align-items-end text-dark  py-2">
        Langt ude, hvor Palmerne møde dit Blik,<br />
        der voxer en Drue med lindrende Drik<br />
        for al din Kval.<br />
        O, bring den tilbage,<br />
        naar hjem du maa drage<br />
        til Savnets lukkede Dal!<br />
    </p>
</div>
  </section>

<section id="endnotes" class="d-flex flex-column align-items-center align-content-center justify-content-center text-light text-center py-5 my-5"> 
    
  <p>
  Dirigent<br />
  Eva Holm Foosnæs
  </p>

  <p>
  Lysdesign<br />
  Sune Schjelderup
  </p>

  <p>
  Lydlandskap<br />
  Jørgen Meyer
  </p>
  
  <p>
  Bilder og video<br />
  Kasper Eliassen
  </p>

  <p>
  Utforming nettprogram<br />
  Hilde Aas Nøst
  </p>

    <p>
      Takk til Sparebankstiftelsen for støtte til konserten.
      </p>

</section>

</main>


{{ end }}


