{{ define "style" }}
  {{ with .Resources.GetMatch "*.css" }}
    <style>
      {{ .Content | safeCSS }}
    </style>
  {{ end }}
{{ end }}

{{ define "main" }}

<div class="parallax">
  <div class="parallax__group">
    <div class="parallax__layer parallax__layer--title p-5 text-light">
      <h1>Deep Black</h1>
      Background
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut laoreet eros. Fusce sollicitudin felis sed urna dictum, id pretium lorem feugiat. Phasellus mattis iaculis ultrices. Nulla euismod, purus nec tincidunt interdum, enim odio volutpat massa, sit amet dignissim justo magna vitae metus. Phasellus eget dolor felis. Mauris sollicitudin volutpat libero vel fringilla. Aliquam ex ante, pulvinar id pulvinar ac, consequat tempus lacus.
    </div>

  </div>
  <div class="parallax__group">
    <div class="parallax__layer parallax__layer--base p-5 text-light">
      <div>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut laoreet eros. Fusce sollicitudin felis sed urna dictum, id pretium lorem feugiat. Phasellus mattis iaculis ultrices. Nulla euismod, purus nec tincidunt interdum, enim odio volutpat massa, sit amet dignissim justo magna vitae metus. Phasellus eget dolor felis. Mauris sollicitudin volutpat libero vel fringilla. Aliquam ex ante, pulvinar id pulvinar ac, consequat tempus lacus.
        </p>
      </div>
      <div>
        <p>
        Aliquam erat volutpat. Quisque in ipsum egestas, ultricies tellus in, tempor felis. Vestibulum lobortis vehicula accumsan. Nullam eu nisi dolor. Maecenas eleifend, orci in malesuada placerat, metus leo tempus urna, eget venenatis sapien neque ac odio. Nam iaculis porta tortor eu luctus. Donec ac ante ac ex pretium suscipit ornare sed velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec efficitur tempor nulla vel ornare. Maecenas tincidunt tellus in diam porttitor aliquet. Maecenas lorem ligula, mattis eget interdum in, sollicitudin eget turpis. Ut nec quam libero. Morbi porta arcu sit amet ex fermentum iaculis. Mauris enim mi, viverra ut augue et, ultrices ultricies elit.
        </p>
      </div>
      <div>
        <p>
        Proin auctor at mauris sit amet semper. Ut bibendum fermentum magna quis tincidunt. Sed non mi vel ante porta efficitur eget quis nibh. Proin bibendum metus magna, vel luctus enim volutpat sed. Maecenas lacinia enim dui, quis consequat mauris cursus et. Quisque consectetur lobortis lorem at maximus. Maecenas orci risus, vehicula at felis quis, elementum pharetra dolor. Curabitur quis consectetur justo, eu sodales nisl. Integer suscipit malesuada felis gravida accumsan. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis gravida, ex a iaculis hendrerit, tortor augue imperdiet mauris, sed convallis arcu dui iaculis leo. Nullam vehicula elementum dui eget cursus.
        </p>
      </div>
    </div>

    <div class="parallax__layer parallax__layer--front">
      <img src="/program/deepblack/Bobler1.png">
      <img src="/program/deepblack/Bobler 2.png" class="img-mirror">
    </div>
    <div class="parallax__layer parallax__layer--back">
      <img src="/program/deepblack/Bobler 2.png">
      <img src="/program/deepblack/Bobler1.png" class="img-mirror">
    </div>
  </div>
</div>


{{ end }}


