{{ define "main" }}
<style>

body {
    background-image: url(/program/kroppen-og-rommet/arm.png);
    background-position: center right;
    background-size: 65vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: white;
}

footer {
    background-color: black;
}


.yellow {
  color: #c8a851;
  font-family: serif;
}

.serif {
  font-family: serif;
}

.overlay {
  background-color: rgba(0,0,0,0.5);
}

p {
  font-size: 1.2em;
}

.revimg {
  transform: scaleX(-1);
}

.arm {
  width: 50vw;
}

#navimg {
  float: right;
}

#programheader {
    height: 50vh;
    position: sticky;
    top: 20%;
}

#programdescription {
    height: 100vh;
    color: #c8a851;
    font-family: serif;
}

.palebluedot {
    height: 110vh;
    background-color: beige;
    /*background-image: url(/program/spaceblack/palebluedot.webp);*/
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.program {
  background-color: beige;
}


.credit {
  font-size: 0.8em;
  
}

#thedot {
  height: 60vh;
}
#thecred {
  height: 30vh;
}

.video {
  height: 100vh;
}

video {
  width: 100%;
}


</style>

<div class="container d-flex flex-column align-items-center align-content-center justify-content-center"> 

  <div id="programheader" class="d-flex pb-5 align-items-center">
  <h1 class="yellow">
    {{ .Title }}
  </h1>
  </div>

<div id="programdescription" class="d-flex pt-5 align-items-center"> 
  <p>Konsertprogram for Kroppen og rommet<br />
  Kjøpmannsgata Ung Kunst (23. mars 2025 kl 18).</p>
</div>
</div>

<div>
<img src="/program/kroppen-og-rommet/arm.png" class="arm revimg" />
</div>

<div class="container d-flex flex-column align-items-end pt-5 palebluedot"> 
  <p id="thedot" class="d-flex align-items-end text-dark">Er kroppen din<br />
  <br />
  et renoveringsobjekt, <br />
  et fengsel <br/>
  <br />
  eller kanskje <br />
  <br />
  et tempel?
  </p>
  <img src="/program/kroppen-og-rommet/arm.png" id="navimg" class="arm" />
</div>

<div class="container d-flex flex-column align-content-center text-dark py-5 my-5"> 

  <p>
  <strong>Kammerkoret Aurum</strong> med dirigent <strong>Eva Holm Foosnæs</strong> ønsker velkommen til konsert!
  </p>

  <p>
Sentralt i konserten står et nytt bestillingsverk av <strong>Heidi Skjerve</strong>, som belyser ulike kroppslige erfaringer.
</p>

<p>
 Et kor består av mange individuelle kropper, som til sammen utgjør én stor kropp.
 </p>

 <p>
 Dette samspillet ønsker vi å utforske i korets klangmuligheter - ulike <br />
 stemmeregistre, <br />
 harmonikk, <br />
 rytmikk<br /> 
 og <br />
  bevegelse.
 </p>

 <p>
 Verkets satser blir knyttet musikalsk og tekstlig til kroppslige erfaringer og funksjoner. 
</p>

<p>
I tillegg til Skjerve, står komponister som <strong>Ēriks Ešenvalds</strong>, <strong>Ståle Kleiberg</strong>, <strong>Eva Holm Foosnæs</strong> og <strong>Mäntyjärvi</strong> på programmet.
</p>

<p>
Vi er stolte av å samarbeide med samtidsdanser og koreograf <strong>Marie Rechsteiner</strong>, som skal sette bevegelse til musikken.
</p>

<p>
<strong>Velkommen!</strong>
</p>
</div>

<div class="d-flex flex-column justify-content-center video">
<video controls controlslist="nodownload">
  <source src="/program/spaceblack/spaceblackpromo1.mp4">
</video>
</div>

<div class="container d-flex flex-column align-items-center align-content-center justify-content-center serif program text-center py-5 my-5"> 
  <p class="py-3">
  KROPPEN OG ROMMET<br />
Ståle Kleiberg <br />
Tekst: Stein Mehren
</p>
  <p class="py-3">
  EG KAN RO<br />
PUST, arr: Elisabeth Anvik<br />
Tekst: Freddie Wadling<br />
</p>
  <p class="py-3">
DIE STIMME DES KINDES<br />
Jaakko Mäntyjärvi<br />
Tekst: Nikolaus Lenau
</p>
  <p class="py-3">
THERE WILL COME SOFT RAINS<br />
 Eriks Ešenvalds<br />
 Tekst: Sara Teasdale
</p>
<img src="/program/kroppen-og-rommet/arm.png" class="arm revimg" />
  <p class="py-3">
ODE TIL KROPPEN<br />
Heidi Skjerve<br />
<br />
<span class="small">
ER KROPPEN DITT TEMPEL?<br />
SLITER DU MED ...?<br />
KVILEPULS<br />
BLOD, SVETTE OG TÅRER<br/>
MIRAKEL<br />
OVER FJELL<br />
DIAFRAGMA</span>
</p>
  <p class="py-3">
FLJOTAVIK<br />
PUST, arr: Håvard Gravdal<br />
</p>
<img src="/program/kroppen-og-rommet/arm.png" class="arm" />
  <p class="py-3">
HA HI HO<br />
Eva Holm Foosnæs
</p>
  <p class="py-3">
DOUBLE DOUBLE TOIL AND TROUBLE<br />
Jaakko Mäntyjärvi<br />
Tekst: William Shakespeare (fra Hamlet)
</p>
</div>

<div class="d-flex flex-column justify-content-center video">
<img src="/program/spaceblack/lightbowl.jpg">
</div>

<div class="container d-flex flex-column align-content-center text-dark py-5 my-5"> 

  <p>
  <h1 class="yellow">Ode til kroppen</h1>
  <span class="yellow text-dark">Heidi Skjerve</span>
  </p>

  <p class="serif py-5">
    Tekstene og musikken til Heidi Skjerves verk om kroppen er inspirert av
    og tildels bygd på innspill fra koristene.
  </p>

<h3 class="serif pt-5">ER KROPPEN DITT TEMPEL?</h3>
<p>
  Er kroppen din eit renoveringsobjekt? 
  <br/>
  <br />
  Ein stad som hadde hatt godt av <br />
  litt innsats og omsorg,
  <br />
  men som du like gjerne <br/>
  kan gje opp <br />
  å føre tilbake til <br />
  «fordums prakt»? 
  <br />
  <br />
  <br />
  
  Er kroppen din eit tempel? <br />
  <br />
  Ein stad for botsøvingar <br />
  for ein dømmande og tyrannisk <br />
  skjønnheitsgud,<br/> 
  eller ein stad<br />
  der du tilber...<br/>
  deg sjølv?
  <br />
  <br />
  <br />
  
  Er kroppen din eit fengsel? <br /><br />
  Eller er du fri til å yte<br />
  og nyte?
</p>

<h3 class="serif pt-5"> SLITER DU MED ...?</h3>
<p>Fine linjer eller rynker.

  osv
</p>

<h3 class="serif pt-5">KVILEPULS</h3>
<h3 class="serif pt-5">BLOD, SVETTE OG TÅRER</h3>
<h3 class="serif pt-5">MIRAKEL</h3>
<h3 class="serif pt-5">OVER FJELL</h3>
<h3 class="serif pt-5">DIAFRAGMA</h3>
<p>
  Diafragma<br />
  Multifidus<br />
  Iliacus<br />
  Transversis abdominis<br />
</p>
</div>

<div class="d-flex flex-column justify-content-center video">
<img src="/program/spaceblack/lightbowl.jpg">
</div>

<div class="d-flex flex-column justify-content-center video">
<img src="/program/spaceblack/glass.jpg">
</div>

<div class="d-flex flex-column justify-content-center video">
<img src="/program/spaceblack/glove.jpg">
</div>

<div class="d-flex flex-column justify-content-center video">
<video controls controlslist="nodownload">
  <source src="/program/spaceblack/spaceblackpromo2.mp4">
</video>
</div>


<div class="container d-flex flex-column align-items-center align-content-center justify-content-center serif overlay text-center py-5 my-5"> 
  <p>
  Dirigent<br />
  Eva Holm Foosnæs
  </p>

  <p>
  Danser<br />
  Marie Rechsteiner
  </p>

  <p>
  Illustrasjon<br />
  Hilde Aas Nøst
  </p>
  
  <p>
  Bilder og video<br />
  Kasper Eliassen
  </p>

</div>

<script>
  window.onscroll = function() {scrollRotate()};
  function scrollRotate() {
    var navimg = document.getElementById("navimg");
    navimg.style.transform = "rotate("+ (window.pageYOffset/10-100) + "deg)"
  }
  </script>

{{ end }}


