{{ define "main" }}
<style>


.navbar {
 position: fixed;
 top: 0px;
 transition: top 0.5s ease-in-out;
}


body {
    background-image: url(/program/kroppen-og-rommet/arm.png);
    background-size: 65vw;
    background-position: center right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: white;
}

footer {
    background-color: black;
}


.yellow {
  color: #c8a851;
  font-family: serif;
}

.serif {
  font-family: serif;
}

.overlay {
  background-color: rgba(0,0,0,0.5);
}

p {
  font-size: 1.2em;
}

.revimg {
  transform: scaleX(-1);
}

.arm {
  width: 50vw;
}

#navimg {
  float: right;
  -webkit-transform-origin: 100% 25%;
  -moz-transform-origin: 100% 25%;
  -ms-transform-origin: 100% 25%;
  -o-transform-origin: 100% 25%;
  transform-origin: 100% 25%;
}

#navimg2 {
  float: right;
  -webkit-transform-origin: 100% 25%;
  -moz-transform-origin: 100% 25%;
  -ms-transform-origin: 100% 25%;
  -o-transform-origin: 100% 25%;
  transform-origin: 100% 25%;
}

#programheader {
    height: 50vh;
    position: sticky;
    top: 20%;
}

#programdescription {
    height: 100vh;
    color: #c8a851;
    font-family: serif;
}

.palebluedot {
    height: 110vh;
    background-color: beige;
    /*background-image: url(/program/spaceblack/palebluedot.webp);*/
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.softrains {
    height: 140vh;
    background-color: beige;
    background-image: url(/program/kroppen-og-rommet/regnskog.png);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.program {
  background-color: beige;
}


.credit {
  font-size: 0.8em;
  
}

#thedot {
  height: 60vh;
}

#therain {
  height: 100vh;
}

#thecred {
  height: 30vh;
}

.video {
  height: 100vh;
}

video {
  width: 100%;
}


</style>

  <nav class="navbar navbar-expand navbar-light" style="background-color: rgba(255,255,255,0.5);" role="navigation" aria-label="main navigation" id="navbar">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">
            topp
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#program">
            program
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#bio">
            bioer
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#ode">
            ode til kroppen
          </a>
        </li>
      </ul>
    </nav>

<div class="container d-flex flex-column align-items-center align-content-center justify-content-center"> 

  <div id="programheader" class="d-flex pb-5 align-items-center">
  <h1 class="yellow">
    {{ .Title }}
  </h1>
  </div>

  <div id="programdescription" class="d-flex pt-5 align-items-center"> 
    {{ with site.GetPage "." (printf "prosjekter/%s" (.Title | urlize))}}
      <p>Konsertprogram for {{ .Title }}<br />
        {{ .Params.venue }} <br />
        {{ with .Date }}
        (
          {{ dateFormat "2." . }}
          {{ index $.Site.Data.months (dateFormat "1" .) }}
          {{ dateFormat "2006 kl 15" . }}
        )
        {{ end }}
      </p>
    {{end}}
  </div>
</div>

<div>
<img src="/program/kroppen-og-rommet/arm.png" class="arm revimg" />
</div>

<div class="container d-flex flex-column align-items-end pt-5 palebluedot"> 
  <p id="thedot" class="d-flex align-items-end text-dark">Er kroppen din<br />
  <br />
  et renoveringsobjekt, <br />
  et fengsel <br/>
  <br />
  eller kanskje <br />
  <br />
  et tempel?
  </p>
  <img src="/program/kroppen-og-rommet/arm.png" id="navimg" class="arm" />
</div>

<div class="container d-flex flex-column align-content-center text-dark py-5 my-5"> 
  {{ .Content | safeHTML}}
</div>

<!--{{ partial "program/program" . }}-->

<div id="program" class="container d-flex flex-column align-items-center align-content-center justify-content-center serif program text-center py-5 my-5"> 
  <p class="py-3">
  KROPPEN OG ROMMET<br />
Ståle Kleiberg <br />
Tekst: Stein Mehren
</p>
  <p class="py-3">
  EG KAN RO<br />
PUST, arr: Elisabeth Anvik<br />
Tekst: Freddie Wadling<br />
Solist: Astrid Grimstad Valheim
</p>
  <p class="py-3">
DIE STIMME DES KINDES<br />
Jaakko Mäntyjärvi<br />
Tekst: Nikolaus Lenau
</p>
  <p class="py-3">
THERE WILL COME SOFT RAINS<br />
 Eriks Ešenvalds<br />
 Tekst: Sara Teasdale
</p>
<img src="/program/kroppen-og-rommet/arm.png" class="arm revimg" />
  <p class="py-3">
ODE TIL KROPPEN<br />
Heidi Skjerve<br />
<div class="small">
ER KROPPEN DITT TEMPEL?<br />Solist: Karen Johanna Kviseth<br />
<br />
SLITER DU MED ...?<br />
<br />
KVILEPULS<br />Solist: Anne Grete Nyseter<br />
<br />
BLOD, SVETTE OG TÅRER<br/>
<br />
MIRAKEL<br />Solist: Kari Sødal Gjestvang <br />
<br />
OVER FJELL<br />Solist: Andreas Tesaker<br />
<br />
DIAFRAGMA</div>
</p>
  <p class="py-3">
FLJOTAVIK<br />
PUST, arr: Håvard Gravdal<br />
Solist: Jon Kristian Bye
</p>
<img src="/program/kroppen-og-rommet/arm.png" class="arm" />
  <p class="py-3">
HA HI HO<br />
Eva Holm Foosnæs
</p>
  <p class="py-3">
DOUBLE DOUBLE TOIL AND TROUBLE<br />
Jaakko Mäntyjärvi<br />
Tekst: William Shakespeare (fra Hamlet)
</p>
</div>

<div class="d-flex flex-column justify-content-center video">
<img src="/program/kroppen-og-rommet/marie-kor.jpg">
</div>



<img src="/program/kroppen-og-rommet/arm.png" id="navimg2" class="arm" />
<div id="bio" class="container d-flex flex-column align-items-start align-content-start justify-content-start serif program py-5 my-5"> 
  <h2>Marie Rechsteiner</h2>
  <p>
  <strong>Marie Rechsteiner</strong> er en norsk dansekunstner med base mellom Trondheim og Berlin.
  En stor del av hennes arbeid er av tverrfaglig natur, der bevegelse er kombinert med lydkunst, videoprojeksjoner, objekter og stedsspesifikk, improvisert interaksjon.
  Tematisk dreier hennes arbeider seg rundt aktuelle samfunnstema og ser på hvordan samfunnets diskurser manifesteres i kroppen og kan komme til syne i det koreografiske arbeidet.
  Hun er en av grunnleggerne av studiokollektivet Garage – Werkstatt für Darstellende Künste, en produksjon- og visningsarena for det frie feltet i Berlin.
  </p>
  <img src="/program/kroppen-og-rommet/Marie.jpeg" class="img-fluid"/>
</div>

<div class="d-flex flex-column justify-content-center video">
<img src="/program/kroppen-og-rommet/heidi-kor.jpg">
</div>

<img src="/program/kroppen-og-rommet/arm.png" class="arm revimg" />

<div class="container d-flex flex-column align-items-start align-content-start justify-content-start serif program py-5 my-5"> 
  <h2>Heidi Skjerve</h2>
  <p>
    <strong>Heidi Skjerve</strong> (f.1979) er en allsidig vokalist og komponist med utspring fra Jazzlinja ved NTNU.
    Hun har gjort seg bemerket på Trondheimsscenen gjennom mange år med egne band og albumutgivelser som
    «Songs from Thoreau’s Journal», «Jazz frå skogom» med John Pål Inderberg,
    Vigleik Storaas og Trygve Fiske, vokalensemblet Trondheim Voices og som solist med bl.a. Luftforsvarets Musikkorps.  
  </p>
  <img src="/program/kroppen-og-rommet/P1030514 svarthvit.jpeg" class="img-fluid"/>
</div>


<div class="d-flex flex-column justify-content-center video">
<img src="/program/kroppen-og-rommet/kroppen.jpg">
</div>



<div id="ode" class="container d-flex flex-column align-content-center text-dark py-5 my-5"> 

  <p>
  <h1 class="yellow">Ode til kroppen</h1>
  <span class="yellow text-dark">Heidi Skjerve</span>
  <span class="small text-muted serif">Støttet av Det norske komponistfond </span>
  </p>

  <p class="serif py-5">
    Dette er ein hyllest til kroppen, <br />
    den ufullkomne, det du vil gøyme bort eller fikse på,<br />
    men òg til alt som fungerer, heilt utan at du treng å tenkje på det,<br />
    til dømes alle substansane som flyt rundt og smører maskineriet vårt på ulike vis,<br />
     og alle musklane som er involverte i ein god innpust og ein bærande korklang!
     <br />
     <br />
     Eg vil òg sette søkelyset på korleis skjønnheitsindustrien tener gode pengar på å få oss til alltid å leite etter feil og manglar ved kroppane våre, og korleis straumen av kroppsfiksert innhald i media og sosiale media pregar sjølvbiletet vårt. Så eg spurde songarane i koret om kva slags forhald dei har til kroppen sin, og om det er noko ved kroppen dei faktisk er nøgde med? Svara eg fekk var i stor grad samanfallande med mine eigne svar, og desse har blitt til tekst og musikk. 
  </p>

<h3 class="serif pt-5">ER KROPPEN DITT TEMPEL?</h3>
<p>
  Er kroppen din eit renoveringsobjekt? 
  <br/>
  <br />
  Ein stad som hadde hatt godt av <br />
  litt innsats og omsorg,
  <br />
  men som du like gjerne <br/>
  kan gje opp <br />
  å føre tilbake til <br />
  «fordums prakt»? 
  <br />
  <br />
  <br />
  
  Er kroppen din eit tempel? <br />
  <br />
  Ein stad for botsøvingar <br />
  for ein dømmande og tyrannisk <br />
  skjønnheitsgud,<br/> 
  eller ein stad<br />
  der du tilber...<br/>
  deg sjølv?
  <br />
  <br />
  <br />
  
  Er kroppen din eit fengsel? <br /><br />
  Eller er du fri til å yte<br />
  og nyte?
</p>

<h3 class="serif pt-5"> SLITER DU MED ...?</h3>
<p>
  Fine linjer eller rynker<br />
  Sliter du med akne?<br />
  Håravfall og gule tenner<br />
  Tør du ikke smile?<br />
  <br />
  Mindre spenst og mye stress<br />
  Trøtt og energiløs?<br/>
  Nedsatt sexlyst, mye press<br />
  <br />
  Litt for sliten, litt for tung<br />
  Slik holder du deg ung!<br />
  <br />
  <br />
  <span class="text-left">Appelsinhud</span><br />
 <span class="text-right">Grevinneheng<br /></span>
 <span class="text-left">Mammamage<br /></span>
 <span class="text-right">Underlivsplage<br/></span>
 <span class="text-left">Nedsatt lyst <br /></span>
 <span class="text-right">Hengebryst<br/></span>
 <span class="text-left">Tynnere hår<br /></span>
 <span class="text-right">Gnissende lår<br /></span>
 <span class="text-left">Spis mindre fett<br /></span>
 <span class="text-right">Spis deg lett<br /></span>
 <span class="text-left">Fiber er bra<br /></span>
 <span class="text-right">Spis deg glad!<br /></span>
 <span class="text-center">Skjønnhet kommer innenfra!<br /></span>
  <br />
  <br />
  Botox<br />
  Silikon<br />
  Reduksjon<br />
  Hylauron<br />
  Injeksjon<br />
  Rumpeløft<br />
  Puppekløft <br />
  Facelift<br />
  Fillers<br />
  Retinol<br />
  Restylan<br />
  Clynomyn<br />
  med polynam<br />
  Dokumentert effekt!<br />
  <br />
  <br />
  Pumpe<br />
  Sixpack<br />
  Proteinshake<br />
  Koffein<br />
  Tynn og bleik <br />
  Vitamin<br />
  Alt for veik<br />
  Disiplin<br />
  Adrenalin<br />
  Testosteron<br />
  Håravfall<br />
  Kondisjon<br />
  Intervall<br />
  Ambisjon<br />
  Mosjon<br />
  Muskeldefinisjon<br />
  Naturlig sjarm<br />
  Rottefjes<br />
  Øm og varm<br />
  Mye pes <br />
  Musearm<br />
  Rotteres<br />
  Irritabel tarm<br />
  Spis mindre brød<br />
  Indre glød<br />
  Ny diett<br />
  Spis deg lett<br />
  Spis mere fett<br />
  Spis deg mett<br />
  Sunt bondevett!<br />
  Kolesterol<br />
  Retinol<br />
  Kortisol<br />
  Anabol<br />
  Sterkere ben <br />
  Kollagen<br />
  Slik får du sommerkroppen!<br />
  Kropp som en gud!<br />
  Glattere hud!<br />
  Super smooth!<br />
  Life is good!<br />
  <br />
  <br />
  Litt for liten <br />
  Litt for stor <br />
  Litt for sliten<br />
  Litt for tung <br />
  Altfor gammel<br />
  <br />
  Slik holder du deg ung!
</p>

<h3 class="serif pt-5">KVILEPULS</h3>
<p>
Handa mi<br />
søkjer<br />
handa di<br />
famlar, lengtar<br />
finn saman <br />
<br />
Hald meg<br />
hald varsamt<br />
hald ømt<br />
hald fast<br />
hald rundt meg<br />
<br />
Kviler<br />
inntil<br />
din rygg<br />
kjenner<br />
du pustar
</p>

<h3 class="serif pt-5">BLOD, SVETTE OG TÅRER</h3>
<p>
  Blod<br />
  Flyter<br />
  Lymfe, galle, magesyre<br />
  Utflod<br />
  Renner<br />
  Svette<br />
  Renner<br />
  Blodet bruser<br />
  Pumper<br />
  Forsats, sæd<br />
  Spruter<br />
  Drypper<br />
  <br />
  <br />

  Blod<br />
  Svette<br />
  Tårer<br />
  Renner<br />
  Snørr<br />
  Blod, svette, tårer<br />
  <br />
  <br />

  Blod<br />
  Flyter<br />
  Leddvæske<br />
  Spinalvæske<br />
  Fostervann fosser<br />
  Slim<br />
  Blod<br />
  Tårer <br />
  Melk <br />
  Spruter<br />
  Drypper<br />
</p>
<h3 class="serif pt-5">MIRAKEL</h3>
<p>
Ja, kroppen min er eit tempel.<br />
Eit heilagt rom for livets mysterium, <br />
eit rom der mirakel kan hende. <br />
<br />
Kroppen min er eit luksushotell, <br />
med basseng og eige gardsmeieri.<br />
<br />

Kroppen min er eit slott.<br />
Her har prinsar og prinsesser levd i sus og dus.<br />
<br />

Det står støtt gjennom århundra, <br />
til trass for at fasaden er umoderne og murpussen dryssar litt...<br />
</p>
<h3 class="serif pt-5">OVER FJELL</h3>
<p>
Eg gjekk<br />
Eg gjekk gatelangs i ein framand by<br />
Eg gjekk gjennom ein park under høge kviskrande tre<br />
Eg gjekk langs ein haustgul vaiande åker<br />
Eg gjekk barfot i sanda langs stranda<br />
<br />

Eg gjekk på mjuk mose mellom mørke bartre og sopp <br />
Eg gjekk opp ein bratt, kronglete sti<br />
Eg gjekk over ei duftande lyngkledt hei<br />
Eg gjekk opp ei steinete ur <br />
Eg gjekk på tur!<br />
<br />

Og beina dei bar meg gjennom kratt og skog<br />
over lyng og myr <br />
gjennom elv og vatn <br />
over fjell!<br />
<br />

Ode til beina<br />
som bær meg heim<br />
</p>
<h3 class="serif pt-5">DIAFRAGMA</h3>
<p>
  Diafragma<br />
  Multifidus<br />
  Iliacus<br />
  Transversis abdominis<br />
  <br />
  Intercostales interni<br />
  Intercostales externi<br />
  <br />

  Diafragma<br />
  Multifidus<br />
  Iliacus<br />
  Oblicus internus<br />
  <br />

  Erector spinae <br />
  Rectus abdominis<br />
  Latissimus dorsi<br />
  <br />
  Serratus anterior<br />
  <br />

  Psoas major<br />
  Quadratus lumborum<br />

</p>
</div>


<div class="d-flex flex-column justify-content-center video">
<img src="/program/kroppen-og-rommet/beina.jpg">
</div>


<div class="container d-flex flex-column align-items-end pt-5 softrains overlay"> 
  <h2 class="text-light serif">There Will Come Soft Rains<br />(War Time)</h2>
  <span class="serif text-light">Sarah Teasdale</span>
  <p id="therain" class="d-flex align-items-end text-light">
There will come soft rains and the smell of the ground,<br />
And swallows circling with their shimmering sound;<br />
<br />
And frogs in the pools singing at night,<br />
And wild plum-trees in tremulous white;<br />
<br />

Robins will wear their feathery fire<br />
Whistling their whims on a low fence-wire;<br />
<br />

And not one will know of the war, not one<br />
Will care at last when it is done.<br />
<br />

Not one would mind, neither bird nor tree<br />
If mankind perished utterly;<br />
<br />

And Spring herself, when she woke at dawn,<br />
Would scarcely know that we were gone.<br />
  </p>
</div>

<div class="d-flex flex-column justify-content-center video">
<img src="/program/kroppen-og-rommet/eva-heidi.jpg">
</div>

<div class="d-flex flex-column justify-content-center video">
<video controls controlslist="nodownload">
  <source src="/program/kroppen-og-rommet/promo3.mp4">
</video>
</div>

<div class="d-flex flex-column justify-content-center video">
<video controls controlslist="nodownload">
  <source src="/program/kroppen-og-rommet/promo4.mp4">
</video>
</div>


<div class="container d-flex flex-column align-items-center align-content-center justify-content-center serif overlay text-center py-5 my-5"> 
  <p>
  Dirigent<br />
  Eva Holm Foosnæs
  </p>

  <p>
  Danser<br />
  Marie Rechsteiner
  </p>

  <p>
  Illustrasjon<br />
  Hilde Aas Nøst
  </p>
  
  <p>
  Bilder og video<br />
  Kasper Eliassen
  </p>

</div>

<script>
  function scrollRotate() {
    var navimg = document.getElementById("navimg");
    navimg.style.transform = "rotate("+ (-window.pageYOffset/10+120) + "deg)"

  }
  window.addEventListener("scroll", scrollRotate);

  lastScrollTop;
navbar = document.getElementById('navbar');
window.addEventListener('scroll',function(){
  var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
  if(scrollTop > lastScrollTop){
    navbar.style.top='-80px';
  }
  else{
    navbar.style.top='0';
  }
  lastScrollTop = scrollTop;
});

  </script>

{{ end }}


