{{ define "main" }}
<style>

body {
    background-image: url(/program/spaceblack/stjernehimmel.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
}

h1 {
  color: #c8a851;
  font-family: serif;
}

#programheader {
    height: 100vh;
}


</style>
<div class="container d-flex align-items-center align-content-center justify-content-center" id="programheader"> 
  <h1>
    SPACE BLACK
  </h1>
</div>

<div class="text-light">

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque efficitur ipsum sed lacinia pellentesque. Vivamus turpis felis, ultrices sed leo sit amet, tempor gravida arcu. Maecenas egestas dapibus turpis, fringilla laoreet ante gravida sit amet. Aliquam odio turpis, aliquet nec lectus quis, eleifend congue mauris. Mauris non nunc odio. Ut venenatis, nisl et molestie lobortis, lectus magna porta massa, ac finibus lorem nisl sit amet elit. Nunc id mauris mi. Proin et lacus vel mi congue pharetra eu id nibh. Quisque tempus turpis sit amet ligula facilisis hendrerit. Pellentesque hendrerit, urna ut posuere commodo, erat dui vulputate erat, vel pellentesque ex magna a nunc. Nunc leo dolor, pulvinar nec iaculis efficitur, ultricies quis quam.
</p>
<p>

Donec sit amet lectus id nisl sagittis faucibus sed quis dolor. In turpis risus, vulputate id enim in, feugiat consectetur enim. In arcu lectus, ultrices at elit et, consequat porttitor ligula. In eget quam dolor. Pellentesque lacus metus, convallis eget metus in, cursus tristique nunc. Proin molestie convallis turpis non malesuada. Nunc nec laoreet sem.
</p>
<p>
Nullam venenatis in purus quis convallis. Donec in odio ultricies sem commodo laoreet quis gravida risus. Proin aliquam dictum mi in vehicula. Fusce elementum purus nulla, a finibus leo venenatis quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam dictum posuere tortor vel tempus. In hac habitasse platea dictumst. Pellentesque dictum faucibus ante, eu tempor orci. Integer bibendum turpis sed nisl gravida vestibulum. Aliquam id porta mi, quis scelerisque turpis. Sed aliquam ligula et orci dictum bibendum. Proin sem elit, porttitor ac urna ac, faucibus aliquet lorem. Phasellus luctus consectetur quam et tempus.
<p />
<p>
Suspendisse placerat consequat quam, vel placerat lacus. Aenean tempus ligula nec luctus laoreet. In et egestas nibh. Maecenas sollicitudin vulputate metus. Integer gravida accumsan justo et laoreet. Etiam euismod iaculis nulla nec molestie. Nulla scelerisque justo mauris, quis consectetur magna blandit sed.
<p />
<p>
Vestibulum leo dui, euismod quis tempor quis, aliquam id mauris. Proin vestibulum mattis lacus a placerat. Sed eget sodales metus. Proin faucibus iaculis velit, in rutrum mi cursus quis. Integer sit amet iaculis mauris, nec imperdiet orci. Praesent eu nisl imperdiet, aliquet nibh ac, maximus odio. Quisque eleifend vestibulum ante in suscipit. Duis nulla nulla, finibus et euismod at, rutrum ut tellus. Curabitur sollicitudin volutpat massa, sit amet facilisis purus porttitor id. Nulla facilisi. Ut vestibulum elementum ligula, eget faucibus lectus varius non. Nulla cursus eu ante in fringilla. Aliquam erat volutpat.
<p />
  </div>
{{ end }}


