{{ define "main" }}
<style>

body {
    background-image: url(/program/spaceblack/stjernehimmel.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
}

h1 {
  color: #c8a851;
  font-family: serif;
}

.spaceblack {
  color: #c8a851;
  font-family: serif;
  background-color: rgba(0,0,0,0.5);
}

p {
  font-size: 1.2em;
}

#programheader {
    height: 50vh;
    position: sticky;
    top: 20%;
}

#programdescription {
    height: 100vh;
    color: #c8a851;
    font-family: serif;
}

.palebluedot {
    height: 110vh;
    background-color: blue;
    background-image: url(/program/spaceblack/palebluedot.webp);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
}

.credit {
  font-size: 0.8em;
  
}

#thedot {
  height: 60vh;
}
#thecred {
  height: 30vh;
}

.video {
  height: 100vh;
}

video {
  width: 100%;
}


</style>

<div class="container d-flex flex-column align-items-center align-content-center justify-content-center"> 

  <div id="programheader" class="d-flex pb-5 align-items-center">
  <h1>
    SPACE BLACK
  </h1>
  </div>

<div id="programdescription" class="d-flex pt-5 align-items-center"> 
  <p>Konsertprogram for Space Black-konsertserien<br />
  i Trondheim (2. mars 2024 kl 18 og 20.30)<br />
  og Steinkjer (3. mars 2024 kl 18).</p>
</div>
</div>

<div class="container d-flex flex-column align-items-end pt-5 palebluedot"> 
  <p id="thedot" class="d-flex align-items-end text-dark">Look again at that dot.<br />
  That's here.<br />
  That's home.<br />
  That's us.<br />
  </p>
  <p class="d-flex">
  <span class="credit">-- Carl Sagan, <em>Pale Blue Dot</em>, 1994</span>
  </p>
  <p id="thecred" class="d-flex align-items-end">
  <span class="credit">Bilde: <em>Pale Blue Dot</em> tatt av Voyager 1 &copy;JPL/NASA</span> 
  </p>
</div>

<div class="d-flex flex-column justify-content-center video">
<video controls controlslist="nodownload">
  <source src="/program/spaceblack/spaceblackpromo1.mp4">
</video>
</div>

<div class="container d-flex flex-column align-items-center align-content-center justify-content-center spaceblack text-center py-5 my-5"> 
  <p>
  Pyotr Ilyich Tchaikovsky<br />
  Hymn of the Cherubim<br />
Tekst: Liturgi av St. John Chrysostom
  </p>

  <p>
  Elisabeth Anvik<br />
Usynlig
  </p>

  <p>
  Ěriks Ešenvalds<br />
  Stars<br />
Tekst: Sara Teasdale
  </p>

  <p>
Philip Glass<br />
Pierre de soleil<br />
Tekst: Octavio Paz
  </p>

  <p>
Michael Ostrzyga<br />
Saturn
  </p>

  <p>
Jon Sáenz Rubio<br />
Lux aeterna
  </p>

  <p>
Evija Skuķe<br />
Moon Vocalise<br />
Tekst: Latviske folkeviser
  </p>

  <p>
Ståle Kleiberg<br />
Alt i universet<br />
Tekst: Stein Mehren
  </p>

  <p>
Frank Ticheli<br />
Earth Song
  </p>
</div>

<div class="d-flex flex-column justify-content-center video">
<video controls controlslist="nodownload">
  <source src="/program/spaceblack/spaceblackpromo2.mp4">
</video>
</div>

<div class="container d-flex flex-column align-items-center align-content-center justify-content-center spaceblack text-center py-5 my-5"> 
  <p>
  Dirigent<br />
  Eva Holm Foosnæs
  </p>

  <p>
  Lysdesign<br />
  Trond Walleraunet
  </p>

  <p>
  Lyddesign<br />
  Are Åberg
  </p>
</div>

{{ end }}


